entrypoint = "index.html"
modules = ["python-3.12"]
run = "python3 -m http.server 8080 --bind 0.0.0.0"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python3 -m http.server 8080 --bind 0.0.0.0"]
deploymentTarget = "static"
publicDir = "."

[[ports]]
localPort = 8080
externalPort = 80

[gitHubImport]
requiredFiles = [".replit", "index.html"]
